<?xml version="1.0"?>
<class>

    <selected>
        <mode>easy</mode>
    </selected>

    <easy>
        <width>9</width>
        <height>9</height>
        <mines>10</mines>
        <flags>10</flags>
    </easy>

    <medium>
        <width>16</width>
        <height>16</height>
        <mines>40</mines>
        <flags>40</flags>
    </medium>

    <hard>
        <width>30</width>
        <height>16</height>
        <mines>99</mines>
        <flags>99</flags>
    </hard>



</class>